<div class="col-md-4 col-sm-4 col-xs-12 price text-center wow fadeInUp">
    <h4>{{ content.field_title.0 }}</h4>
    <p>$<span>{{ content.field_price.0 }}</span></p>
      <div class="features">
        <h6>Features</h6>
          <div class="features_list">{{ content.field_features }}</div>
      </div>
    <a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-infos">{{ content.field_url[0]['#title'] }}</a>
</div>

   

 