<div class="col-md-4 fh5co-staff text-center animate-box">
						<img src="{{content.field_image.0}}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>{{content.field_title.0}}</h3>
						<h4>{{content.field_position.0}}</h4>
						<p>{{content.field_body.0}}</p>
						<ul class="fh5co-social">
							<li><a href="{{content.field_google_plus.0}}"><i class="icon-google"></i></a></li>
							<li><a href="{{content.field_twitter.0}}"><i class="icon-twitter"></i></a></li>
							<li><a href="{{content.field_facebook.0}}"><i class="icon-facebook"></i></a></li>
							<li><a href="{{content.field_instagram.0}}"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>