	<div class="fh5co-contact animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-md-push-2 animate-box">
					<h2>{{content.field_title.0}}</h2>
					<p>{{content.field_body.0}}</p><br><br>

				</div>
				<div class="col-md-3">
					<h3>Contact Info.</h3>
					<ul class="contact-info">
						<li><i class="icon-map"></i>{{content.field_address.0}}</li>
						<li><i class="icon-phone"></i>{{content.field_contact_number.0}}</li>
						<li><i class="icon-envelope"></i><a href="#">{{content.field_mail_id.0}}</a></li>
						<li><i class="icon-globe"></i><a href="#">{{content.field_website.0}}</a></li>
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<div class="row">
					 {{content.field_contact_form.0}}
					</div>
				</div>
			</div>
		</div>	
	</div>
