<div class="col-md-3 animate-box">
	<div class="price-box">
		<h2 class="pricing-plan">{{content.field_title.0}}</h2>
		<div class="price"><sup class="currency"></sup>{{content.field_pricing.0}}<small>/{{content.field_pricing_per.0}}</small></div>
		<p>{{content.field_body.0}}</p>
		<a href="#" class="btn btn-select-plan btn-sm">{{content.field_button_text.0}}</a>
	</div>
</div>