
<div class="container-fluid contact_us_bg_img" style="background-image:url({{ fields.field_contact_banner_image.content }});">
    <div class="container">
        <div class="row">
            <a class="fh5co_con_123"><i class="fa fa-phone"></i></a>
            <a class="fh5co_con pt-2"> {{ fields.title.content }} </a>
        </div>
    </div>
</div>
<div class="container-fluid  fh5co_fh5co_bg_contcat">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">{{ fields.field_phone_title.content }}</span>
                        <span class="d-block c_g fh5co_contact_us_no_text"><a href="tel:{{ fields.field_phone_number.content }}">{{ fields.field_phone_number.content }}</a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">{{ fields.field_mail_title.content }}</span>
                        <span class="d-block c_g fh5co_contact_us_no_text"><a href="mailto:{{ fields.field_mail.content }}">{{ fields.field_mail.content }}</a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-map-marker"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">{{ fields.field_address_title.content }}</span>
                        <span class="d-block c_g fh5co_contact_us_no_text"> {{ fields.field_address.content }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>